.index-content {
    position: absolute;
    top: 45vh;
    left: 70vw;
    transform: translate(-50%, -50%);
    color: white;
    width: 800px;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
    font-style: oblique;
}